<div class="form-container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Formulario de registro</h1>
    </div>
    <div class="panel-body">
      <form [formGroup]="formRegistro" (ngSubmit)="onSaveRegister(formRegistro.value)">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" formControlName="nombre" />
          <div class="alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <div class="container-error-message">
              *Dato requerido.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="apellidoP">Apellido Paterno</label>
          <input type="text" class="form-control" formControlName="apellidoP" />
          <div class="alert-danger" *ngIf="apellidoP.invalid && (apellidoP.dirty || apellidoP.touched)">
            <div class="container-error-message">
              *Dato requerido.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="apellidoM">Apellido Materno</label>
          <input type="text" class="form-control" formControlName="apellidoM" />
          <div class="alert-danger" *ngIf="apellidoM.invalid && (apellidoM.dirty || apellidoM.touched)">
            <div class="container-error-message">
              *Dato requerido.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="preferenciasex">Preferencia Sexual</label>
          <select id="preferenciasex" name="preferenciasex" formControlName="preferenciasex" class="form-control">
            <option *ngFor="let preferenciax of Preferencias" [value]="preferenciax.nombre">
              {{preferenciax.nombre}}
            </option>
          </select>
          <div class="alert-danger" *ngIf="preferenciasex.invalid && (preferenciasex.dirty || preferenciasex.touched)">
            <div class="container-error-message">
              *Dato requerido.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="sexo">Sexo</label>
          <select id="sexo" name="sexo" formControlName="sexo" class="form-control">
            <option *ngFor="let sexox of Sexos" [value]="sexox.nombre">
              {{sexox.nombre}}
            </option>
          </select>
          <div class="alert-danger" *ngIf="sexo.invalid && (sexo.dirty || sexo.touched)">
            <div class="container-error-message">
              *Dato requerido.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" formControlName="email" />
          <div class="alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div class="container-error-message">
              *Dato requerido.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="contrasenia">Contraseña</label>
          <input type="text" class="form-control" formControlName="contrasenia" />
          <div class="alert-danger" *ngIf="contrasenia.invalid && (contrasenia.dirty || contrasenia.touched)">
            <div class="container-error-message">
              *Dato requerido.
            </div>
          </div>
        </div>
        <h2>Datos de su domicilio</h2>
        <div class="form-group">
          <label for="calle">Calle</label>
          <input type="text" class="form-control" formControlName="calle" />
          <div class="alert-danger" *ngIf="calle.invalid && (calle.dirty || calle.touched)">
            <div class="container-error-message">
              *Dato requerido.
            </div>
          </div>
          <label for="numero">Numero</label>
          <input type="number" class="form-control" formControlName="numero" />
          <div class="alert-danger" *ngIf="numero.invalid && (numero.dirty || numero.touched)">
            <div class="container-error-message">
              *Dato requerido.
            </div>
          </div>
          <div class="form-group">
            <label for="estado">Estado</label>
            <select id="estado" name="estado" formControlName="estado" class="form-control">
              <option *ngFor="let estadox of Estados" [value]="estadox.id">
                {{estadox.nombre}}
              </option>
            </select>
            <div class="alert-danger" *ngIf="estado.invalid && (estado.dirty || estado.touched)">
              <div class="container-error-message">
                *Dato requerido.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="municipio">Municipio</label>
            <select id="municipio" name="municipio" formControlName="municipio" class="form-control">
              <option *ngFor="let municipiox of Municipios" [value]="municipiox.id">
                {{municipiox.nombre}}
              </option>
            </select>
            <div class="alert-danger" *ngIf="municipio.invalid && (municipio.dirty || municipio.touched)">
              <div class="container-error-message">
                *Dato requerido.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="colonia">Colonia</label>
            <select id="colonia" name="colonia" formControlName="colonia" class="form-control">
              <option *ngFor="let coloniax of Colonias" [value]="coloniax.id">
                {{coloniax.nombre}}
              </option>
            </select>
            <div class="alert-danger" *ngIf="colonia.invalid && (colonia.dirty || colonia.touched)">
              <div class="container-error-message">
                *Dato requerido.
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button class="btn btn-primary" type="submit">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
